@model TanvirArjel.ExceptionHandler.ExceptionModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ExceptionModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExceptionId" />
            <div class="form-group">
                <label asp-for="ExceptionTime" class="control-label"></label>
                <input asp-for="ExceptionTime" class="form-control" />
                <span asp-validation-for="ExceptionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestedUrl" class="control-label"></label>
                <input asp-for="RequestedUrl" class="form-control" />
                <span asp-validation-for="RequestedUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControllerName" class="control-label"></label>
                <input asp-for="ControllerName" class="form-control" />
                <span asp-validation-for="ControllerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionName" class="control-label"></label>
                <input asp-for="ActionName" class="form-control" />
                <span asp-validation-for="ActionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExceptionMessage" class="control-label"></label>
                <input asp-for="ExceptionMessage" class="form-control" />
                <span asp-validation-for="ExceptionMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InnerExceptionMessage" class="control-label"></label>
                <input asp-for="InnerExceptionMessage" class="form-control" />
                <span asp-validation-for="InnerExceptionMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StackTrace" class="control-label"></label>
                <input asp-for="StackTrace" class="form-control" />
                <span asp-validation-for="StackTrace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormData" class="control-label"></label>
                <input asp-for="FormData" class="form-control" />
                <span asp-validation-for="FormData" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFixed" /> @Html.DisplayNameFor(model => model.IsFixed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
